%h1 Questions 

- @questions.each do |question|
    %div.panel.panel-default
        %div.panel-heading
            =question.title
        %div.panel-body 
            %pre.blank-pre
                = question.description
            %div.pull-right
                =link_to "Solve", '#', class: 'btn btn-primary'


