%h1 Questions 

- @questions.each do |question|
    %div.panel.panel-default
        %div.panel-heading
            =question.title
        %div.panel-body 
            %pre.blank-pre
                = text_area :question, 'description' , rows:"5", class: "description", value: question.description, style: "display: none"
                = text_area :question, 'description' , rows:"5", class: "id", value: question.id, style: "display: none"
                %div{ :id => question.id, :class => "message"}
            %div.pull-right
                =link_to "Solve", question_path(question), class: 'btn btn-primary'
                -if( @admin == 0)
                    =link_to "Edit", edit_question_path(question), class: 'btn btn-primary'


= javascript_include_tag 'questions_index'
:javascript
    $(question_index.setup)