%h1 Questions 

- if !@submission.correct
    %div{:class => "alert alert-danger"}
        #{@percent_correct}% (#{@results.count - @incorrect_results.count} of #{@results.count}) correct
    %div.panel.panel-default
        %div.panel-heading Incorrect Example
        %div.panel-body 
            %pre.blank-pre
                = @incorrect_example
- else
    %div{:class => "alert alert-success"}
        Correct! Your code passed all tests!


