<h1>Teams</h1>
<%if @teams.blank? %>
    No Teams
<% else %>
    <br>
    <table class="table table-striped">
      <tr>
        <th>Teams</th>
        <th>Contest</th>
        <th>Team Captain</th>
      </tr>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.contestname %></td>
          <td><%= (User.find team.captain).name %></td>
        </tr>
      <% end %>
<% end %>
