%h1 Announcements

- @announcements.each do |announcement|
    %div.panel.panel-default
        %div.panel-heading
            %div.pull-left
                =announcement.title
            %div.text-right
                =announcement.created_at.strftime("%B %d, %Y")
        %div.panel-body 
            %pre.blank-pre
                = announcement.content
            %div.pull-right
                =link_to "<< Edit >>", edit_announcement_path(announcement)


