<h1>All Contests</h1>
    <br>
      <% if @contests == nil %>
        <h3>No Contests</h3>
      <% else %>
        <table class="table table-striped">
        <tr>
          <th>Contest Name</th>
          <th>Contest Date</th>
          <th>Options</th>
        </tr>
        <% @contests.each do |contest| %>
          <tr>
            <td><%= contest.contestname %></td>
            <td><%= contest.contestdate.strftime("%m/%d/%Y") %></td>
            <% string = 'Register for ' + contest.contestname.to_s %>
            <td><%= link_to string, controller: 'registration', action: 'new', id: contest.id %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

