-if @admin == 0  
  %h1 Users
  %table#users
    %thead
      %tr
        %th Name
        %th E-mail
        %th Admin
    %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td
          -if user.admin == 1
            ="is a member,change to admin"
          -elsif user.admin == 0
            ="is an admin, change to member"
          -else
            ="is null"
