%div.jumbotron
  %div.container
    %h1 Welcome to HackHaven!
    %p HackHaven is the home of the 2016 Hawkeye Challenge!
    %p Sponsored by the University of Iowa ACM Chapter, the Hawkeye Challenge is a great way to show off your skills and win great prizes!