// Place all the styles related to the Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.central-form {
    max-width: 500px;
}

.blank-pre {
    border: inherit;
    background: inherit;
}

h1 {
    font-family: 'Poiret One';
    font-size: 400%;
}